/** {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    max-width: 900px;
    margin: 0 auto;
}
.container {
    display: grid;
    /*grid-template-columns: 100px 100px 100px;*/
    /*grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
    /*grid-template-columns: repeat(6, 100px);*/
    /*grid-template-columns: repeat(6, 1fr);*/
    /*gap: 10px;
    column-gap: 20px;
    row-gap: 10px;*/
    /*gap: 10px 20px;*/
    /*grid-auto-rows: 80px;*/
    /*grid-template-rows: auto 100px 200px;*
}

.container > div {
    background: rgb(246,232,255);
background: radial-gradient(circle, rgba(246,232,255,1) 0%, rgba(162,128,224,1) 100%);
   padding: 10px;
   border-radius: 5px;
   border: 2px solid #e34f4f; 

}

.expanded {
    grid-column: span 6;
}

.last {
    grid-column: span 2;
}*/

.titulo {
    text-align: center;
    font-size: 60px;
}

/*Media querys*/
/*MIentras el ancho sea menor que 100px*/
@media (max-width: 1000px) {
    .titulo {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .titulo {
        font-size: 40px;
    }
}

@media (max-width: 500px) {
    .titulo {
        font-size: 30px;
    }
    p {
        color: #433cd2;
    }
}

@media (max-width: 360px) {
    .titulo {
        font-size: 25px;
    }
}